force-app/main/default/flows/SYS_Flow_for_log_retry.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_log_count_to_flow_var</name>
        <label>Assign log count to flow var</label>
        <locationX>519</locationX>
        <locationY>178</locationY>
        <assignmentItems>
            <assignToReference>FlowRetryCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Retry_Count__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increment_retry_count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_retry_count</name>
        <label>Increment retry count</label>
        <locationX>677</locationX>
        <locationY>322</locationY>
        <assignmentItems>
            <assignToReference>FlowRetryCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reset_Retry_Flag_if_retry_count_is_over_threshold</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_retry_count_flow_var</name>
        <label>Set retry count flow var</label>
        <locationX>577</locationX>
        <locationY>560</locationY>
        <assignmentItems>
            <assignToReference>FlowRetryCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Increment_retry_count</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_retry_count_NULL</name>
        <label>Is retry count NULL</label>
        <locationX>263</locationX>
        <locationY>363</locationY>
        <defaultConnector>
            <targetReference>Assign_log_count_to_flow_var</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Retry count is not NULL</defaultConnectorLabel>
        <rules>
            <name>Set_retry_count</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Retry_Count__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_retry_count_flow_var</targetReference>
            </connector>
            <label>Retry count is NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reset_Retry_Flag_if_retry_count_is_over_threshold</name>
        <label>Reset Retry Flag if retry count is over threshold</label>
        <locationX>891</locationX>
        <locationY>260</locationY>
        <defaultConnector>
            <targetReference>Reset_Retry_Flag_Max_retries_reached</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Retry Count &gt; Max Retry Allowed</defaultConnectorLabel>
        <rules>
            <name>Retry_Count_Max_Retry_Allowed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Retry_Count__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>MAX_RETRIES_ALLOWED</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_retry_count_and_retry</targetReference>
            </connector>
            <label>Retry Count &lt; Max Retry Allowed</label>
        </rules>
    </decisions>
    <interviewLabel>SYS Flow for log retry {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SYS Flow for log retry</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Reset_Retry_Flag_Max_retries_reached</name>
        <label>Reset Retry Flag (Max retries reached)</label>
        <locationX>1024</locationX>
        <locationY>103</locationY>
        <inputAssignments>
            <field>retry__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_retry_count_and_retry</name>
        <label>Update retry count and retry</label>
        <locationX>887</locationX>
        <locationY>530</locationY>
        <inputAssignments>
            <field>Retry_Count__c</field>
            <value>
                <elementReference>FlowRetryCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>READY_FOR_PROCESSING</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>retry__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>53</locationX>
        <locationY>34</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>retry__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>SYS_IntegrationLog__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <scheduledPaths>
            <name>Time_based</name>
            <connector>
                <targetReference>Is_retry_count_NULL</targetReference>
            </connector>
            <label>Time based</label>
            <maxBatchSize>1</maxBatchSize>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>FlowRetryCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>MAX_RETRIES_ALLOWED</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </variables>
</Flow>
